.results{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.results .spots {
    width: 400px;
    height: 100%;
}
.results .map {
    flex: 1;
    height: 100%;
}
.results .m24 {
    margin-bottom: 24px;
}
.results .pointer{
    cursor: pointer;
}